.container {
  height: 600px;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.item
{
  background-color: orangered;
  padding: 0 5px;
  margin: 5px;
  flex: 1;
  color: white;
}

.stretch {
  align-content: stretch;
}

.center {
  align-content: center;
} 